<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="ServerName"/>
    <add key="ServerPort" value="ServerPort"/>
    <add key="Database" value="DatabaseName"/>
    <add key="Username" value="Username"/>
    <add key="Password" value="Password"/>
  </appSettings>
</configuration>