USE [master]
GO
/****** Object:  Database [QLK]    Script Date: 04/19/2016 12:06:04 ******/
CREATE DATABASE [QLK] ON  PRIMARY 
( NAME = N'QLK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008EXPRESS\MSSQL\DATA\QLK.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008EXPRESS\MSSQL\DATA\QLK_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLK]
GO
/****** Object:  Table [dbo].[HT_KHOASO]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_KHOASO](
	[KS_NGAY] [datetime] NULL,
	[KS_KHOA] [int] NULL,
	[KS_GHICHU] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HT_DMVAITRO]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_DMVAITRO](
	[DMVT_MAVT] [nvarchar](50) NOT NULL,
	[DMVT_TENVT] [nvarchar](200) NULL,
	[DMVT_DIENGIAI] [text] NULL,
	[DMVT_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_HT_DMVAITRO] PRIMARY KEY CLUSTERED 
(
	[DMVT_MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HT_DMCHUCNANG]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_DMCHUCNANG](
	[DMCN_MACN] [nvarchar](50) NOT NULL,
	[DMCN_TENCN] [nvarchar](200) NULL,
	[DMCN_LOAICN] [nvarchar](50) NULL,
	[DMCN_DIENGIAI] [text] NULL,
	[DMCN_STT] [int] NULL,
	[DMCN_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_HT_DMCHUCNANG] PRIMARY KEY CLUSTERED 
(
	[DMCN_MACN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HT_CAUHINH]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_CAUHINH](
	[CH_MACH] [nvarchar](50) NOT NULL,
	[CH_TENCH] [nvarchar](200) NULL,
	[CH_DIENGIAI] [text] NULL,
	[CH_GIATRI] [nvarchar](200) NULL,
 CONSTRAINT [PK_HT_CAUHINH] PRIMARY KEY CLUSTERED 
(
	[CH_MACH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_THANHTOAN]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_THANHTOAN](
	[HDTT_ID] [int] IDENTITY(1,1) NOT NULL,
	[HDTT_MATT] [nvarchar](50) NOT NULL,
	[HDTT_TENTT] [nvarchar](200) NULL,
	[HDTT_LOAITT] [int] NULL,
	[HDTT_GHICHU] [text] NULL,
	[HDTT_MACDINH] [int] NULL,
	[HDTT_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_HD_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[HDTT_MATT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHH_DONVITINH]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHH_DONVITINH](
	[DVT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DVT_MADONVI] [nvarchar](50) NOT NULL,
	[DVT_TENDONVI] [nvarchar](200) NULL,
	[DVT_MACDINH] [int] NULL,
	[DVT_GHICHU] [text] NULL,
	[DVT_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DMHH_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[DVT_MADONVI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NHAPHANPHOI]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHAPHANPHOI](
	[NPP_ID] [int] IDENTITY(1,1) NOT NULL,
	[NPP_MANPP] [nvarchar](50) NOT NULL,
	[NPP_TENNPP] [nvarchar](200) NULL,
	[NPP_DIACHI] [text] NULL,
	[NPP_MST] [nvarchar](100) NULL,
	[NPP_FAX] [nvarchar](50) NULL,
	[NPP_DIENTHOAI] [nvarchar](50) NULL,
	[NPP_EMAIL] [nvarchar](100) NULL,
	[NPP_WEBSITE] [nvarchar](100) NULL,
	[NPP_TAIKHOAN] [nvarchar](50) NULL,
	[NPP_NGANHANG] [nvarchar](100) NULL,
	[NPP_NGUOIDAIDIEN] [nvarchar](100) NULL,
	[NPP_GHICHU] [text] NULL,
	[NPP_LOAINPP] [int] NULL,
	[NPP_LOAIKH] [int] NULL,
	[NPP_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DM_NHAPHANPHOI] PRIMARY KEY CLUSTERED 
(
	[NPP_MANPP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NHANVIEN]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHANVIEN](
	[NV_ID] [int] IDENTITY(1,1) NOT NULL,
	[NV_MANV] [nvarchar](50) NOT NULL,
	[NV_TENNV] [nvarchar](200) NULL,
	[NV_TAIKHOAN] [nvarchar](50) NULL,
	[NV_MATKHAU] [nvarchar](50) NULL,
	[NV_GIOITINH] [int] NULL,
	[NV_NGAYSINH] [datetime] NULL,
	[NV_DIACHI] [text] NULL,
	[NV_DIENTHOAI] [nvarchar](50) NULL,
	[NV_DIDONG] [nvarchar](50) NULL,
	[NV_EMAIL] [nvarchar](100) NULL,
	[NV_GHICHU] [text] NULL,
	[NV_QUANTRI] [int] NULL,
	[NV_LOAINV] [int] NULL,
	[NV_TIENLUONG] [money] NULL,
	[NV_DVTTIENLUONG] [int] NULL,
	[NV_TKNGANHANG] [nvarchar](100) NULL,
	[NV_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DM_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[NV_MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_KHOHANG]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHOHANG](
	[KH_ID] [int] IDENTITY(1,1) NOT NULL,
	[KH_MAKHO] [nvarchar](50) NOT NULL,
	[KH_TENKHO] [nvarchar](200) NULL,
	[KH_LOAIKHO] [int] NULL,
	[KH_KHONHAP] [int] NULL,
	[KH_BANLE] [int] NULL,
	[KH_BANSI] [int] NULL,
	[KH_GHICHU] [text] NULL,
	[KH_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DM_KHOHANG] PRIMARY KEY CLUSTERED 
(
	[KH_MAKHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHH_QUOCGIA]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHH_QUOCGIA](
	[QG_ID] [int] IDENTITY(1,1) NOT NULL,
	[QG_MAQUOCGIA] [nvarchar](50) NOT NULL,
	[QG_TENQUOCGIA] [nvarchar](200) NULL,
	[QG_MACDINH] [int] NULL,
	[QG_GHICHU] [text] NULL,
	[QG_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DMHH_QUOCGIA] PRIMARY KEY CLUSTERED 
(
	[QG_MAQUOCGIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHH_NHOMHANG]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHH_NHOMHANG](
	[NH_ID] [int] IDENTITY(1,1) NOT NULL,
	[NH_MANHOM] [nvarchar](50) NOT NULL,
	[NH_TENNHOM] [nvarchar](200) NULL,
	[NH_MACDINH] [int] NULL,
	[NH_GHICHU] [text] NULL,
	[NH_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DMHH_NHOMHANG] PRIMARY KEY CLUSTERED 
(
	[NH_MANHOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHH_LOAIHANG]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHH_LOAIHANG](
	[LH_ID] [int] IDENTITY(1,1) NOT NULL,
	[LH_MALOAI] [nvarchar](50) NOT NULL,
	[LH_TENLOAI] [nvarchar](200) NULL,
	[LH_MACDINH] [int] NULL,
	[LH_GHICHU] [text] NULL,
	[LH_KICHHOAT] [int] NULL,
 CONSTRAINT [PK_DMHH_LOAIHANG] PRIMARY KEY CLUSTERED 
(
	[LH_MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHH_HANGHOA]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHH_HANGHOA](
	[HH_ID] [int] IDENTITY(1,1) NOT NULL,
	[HH_MAHANG] [nvarchar](50) NOT NULL,
	[HH_TENHANG] [nvarchar](200) NULL,
	[HH_TENNGAN] [nvarchar](200) NULL,
	[HH_THANHPHAN] [nvarchar](100) NULL,
	[HH_LOAISIZE] [int] NULL,
	[HH_SIZE] [nvarchar](50) NULL,
	[HH_MAUSAC] [nvarchar](50) NULL,
	[HH_GIAMUA] [money] NULL,
	[HH_GIABANLE] [money] NULL,
	[HH_GIABANSI] [money] NULL,
	[HH_TONTOITHIEU] [float] NULL,
	[HH_KHUYENMAI] [float] NULL,
	[HH_KMTUNGAY] [datetime] NULL,
	[HH_KMDENNGAY] [datetime] NULL,
	[HH_HANSUDUNG] [datetime] NULL,
	[HH_GHICHU] [text] NULL,
	[HH_KICHHOAT] [int] NULL,
	[DVT_MADONVI] [nvarchar](50) NULL,
	[NH_MANHOM] [nvarchar](50) NULL,
	[LH_MALOAI] [nvarchar](50) NULL,
	[QG_MAQUOCGIA] [nvarchar](50) NULL,
	[KH_MAKHO] [nvarchar](50) NULL,
	[NPP_MANPP] [nvarchar](50) NULL,
 CONSTRAINT [PK_DMHH_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[HH_MAHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'So luong ton kho toi thieu cho phep' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DMHH_HANGHOA', @level2type=N'COLUMN',@level2name=N'HH_TONTOITHIEU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Khuyen mai bao nhieu phan tram' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DMHH_HANGHOA', @level2type=N'COLUMN',@level2name=N'HH_KHUYENMAI'
GO
/****** Object:  Table [dbo].[HT_PHANQUYEN]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_PHANQUYEN](
	[DMVT_MAVT] [nvarchar](50) NULL,
	[DMVT_MACN] [nvarchar](50) NULL,
	[PQ_ADMIN] [int] NULL,
	[PQ_XEM] [int] NULL,
	[PQ_THEM] [int] NULL,
	[PQ_SUA] [int] NULL,
	[PQ_XOA] [int] NULL,
	[PQ_IN] [int] NULL,
	[PQ_NHAP] [int] NULL,
	[PQ_XUAT] [int] NULL,
	[PQ_STT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HT_NVVAITRO]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_NVVAITRO](
	[NV_MANV] [nvarchar](50) NULL,
	[DMVT_MAVT] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HT_NHATKY]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HT_NHATKY](
	[NV_MANV] [nvarchar](50) NULL,
	[NK_THOIGIAN] [datetime] NULL,
	[NK_TENMAY] [nvarchar](50) NULL,
	[NK_TACVU] [nvarchar](50) NULL,
	[NK_MALOI] [text] NULL,
	[NK_TENLOI] [text] NULL,
	[NK_NOIDUNG] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_NHAPXUAT]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_NHAPXUAT](
	[NDNX_ID] [int] IDENTITY(1,1) NOT NULL,
	[HDNX_LOAIHD] [nvarchar](50) NULL,
	[HDNX_DAIN] [int] NULL,
	[HDNX_NGAYIN] [datetime] NULL,
	[HDNX_SOHDNB] [nvarchar](50) NULL,
	[HDNX_NGAYLAP] [datetime] NULL,
	[HH_MAHANG] [nvarchar](50) NULL,
	[HDNX_SOLUONG] [float] NULL,
	[HDNX_GIAMUA] [money] NULL,
	[HDNX_QUIDOI] [int] NULL,
	[HDNX_TONGMUA] [money] NULL,
	[HDNX_VAT] [float] NULL,
	[HDNX_GIAVAT] [money] NULL,
	[HDNX_TONGVAT] [money] NULL,
	[HDNX_GIABAN] [money] NULL,
	[HDNX_TONGBAN] [money] NULL,
	[HDNX_THANHTIEN] [money] NULL,
	[HDNX_CHIECKHAU] [float] NULL,
	[HDNX_TONGCHIECKHAU] [money] NULL,
	[HDNX_GIAMKHAC] [money] NULL,
	[HDNX_KHACHDUA] [money] NULL,
	[HDNX_TRAHANG] [int] NULL,
	[HDNX_STT] [int] NULL,
	[HDNX_SOHD] [nvarchar](50) NULL,
	[HDNX_NGAYHD] [datetime] NULL,
	[HDNX_SONGAYHD] [int] NULL,
	[NPP_MANPP] [nvarchar](50) NULL,
	[NV_MANV] [nvarchar](50) NULL,
	[NV_TAIKHOAN] [nvarchar](50) NULL,
	[HDTT_MATT] [nvarchar](50) NULL,
	[HDNX_NGAYTT] [datetime] NULL,
	[HDNX_NGAYCAPNHAT] [datetime] NULL,
	[HDNX_GHICHU] [text] NULL,
	[KH_MAKHO] [nvarchar](50) NULL,
	[HDNX_TRANGTHAI] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHH_MAVACH]    Script Date: 04/19/2016 12:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DMHH_MAVACH](
	[HH_MAHANG] [nvarchar](50) NULL,
	[MV_MAVACH] [binary](50) NULL,
	[MV_ANH] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_DMHH_HANGHOA_DM_KHOHANG]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_HANGHOA_DM_KHOHANG] FOREIGN KEY([KH_MAKHO])
REFERENCES [dbo].[DM_KHOHANG] ([KH_MAKHO])
GO
ALTER TABLE [dbo].[DMHH_HANGHOA] CHECK CONSTRAINT [FK_DMHH_HANGHOA_DM_KHOHANG]
GO
/****** Object:  ForeignKey [FK_DMHH_HANGHOA_DM_NHAPHANPHOI]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_HANGHOA_DM_NHAPHANPHOI] FOREIGN KEY([NPP_MANPP])
REFERENCES [dbo].[DM_NHAPHANPHOI] ([NPP_MANPP])
GO
ALTER TABLE [dbo].[DMHH_HANGHOA] CHECK CONSTRAINT [FK_DMHH_HANGHOA_DM_NHAPHANPHOI]
GO
/****** Object:  ForeignKey [FK_DMHH_HANGHOA_DMHH_DONVITINH]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_HANGHOA_DMHH_DONVITINH] FOREIGN KEY([DVT_MADONVI])
REFERENCES [dbo].[DMHH_DONVITINH] ([DVT_MADONVI])
GO
ALTER TABLE [dbo].[DMHH_HANGHOA] CHECK CONSTRAINT [FK_DMHH_HANGHOA_DMHH_DONVITINH]
GO
/****** Object:  ForeignKey [FK_DMHH_HANGHOA_DMHH_LOAIHANG]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_HANGHOA_DMHH_LOAIHANG] FOREIGN KEY([LH_MALOAI])
REFERENCES [dbo].[DMHH_LOAIHANG] ([LH_MALOAI])
GO
ALTER TABLE [dbo].[DMHH_HANGHOA] CHECK CONSTRAINT [FK_DMHH_HANGHOA_DMHH_LOAIHANG]
GO
/****** Object:  ForeignKey [FK_DMHH_HANGHOA_DMHH_NHOMHANG]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_HANGHOA_DMHH_NHOMHANG] FOREIGN KEY([NH_MANHOM])
REFERENCES [dbo].[DMHH_NHOMHANG] ([NH_MANHOM])
GO
ALTER TABLE [dbo].[DMHH_HANGHOA] CHECK CONSTRAINT [FK_DMHH_HANGHOA_DMHH_NHOMHANG]
GO
/****** Object:  ForeignKey [FK_DMHH_HANGHOA_DMHH_QUOCGIA]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_HANGHOA_DMHH_QUOCGIA] FOREIGN KEY([QG_MAQUOCGIA])
REFERENCES [dbo].[DMHH_QUOCGIA] ([QG_MAQUOCGIA])
GO
ALTER TABLE [dbo].[DMHH_HANGHOA] CHECK CONSTRAINT [FK_DMHH_HANGHOA_DMHH_QUOCGIA]
GO
/****** Object:  ForeignKey [FK_HT_PHANQUYEN_HT_DMCHUCNANG]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HT_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_HT_PHANQUYEN_HT_DMCHUCNANG] FOREIGN KEY([DMVT_MACN])
REFERENCES [dbo].[HT_DMCHUCNANG] ([DMCN_MACN])
GO
ALTER TABLE [dbo].[HT_PHANQUYEN] CHECK CONSTRAINT [FK_HT_PHANQUYEN_HT_DMCHUCNANG]
GO
/****** Object:  ForeignKey [FK_HT_PHANQUYEN_HT_DMVAITRO]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HT_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_HT_PHANQUYEN_HT_DMVAITRO] FOREIGN KEY([DMVT_MAVT])
REFERENCES [dbo].[HT_DMVAITRO] ([DMVT_MAVT])
GO
ALTER TABLE [dbo].[HT_PHANQUYEN] CHECK CONSTRAINT [FK_HT_PHANQUYEN_HT_DMVAITRO]
GO
/****** Object:  ForeignKey [FK_HT_NVVAITRO_DM_NHANVIEN]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HT_NVVAITRO]  WITH CHECK ADD  CONSTRAINT [FK_HT_NVVAITRO_DM_NHANVIEN] FOREIGN KEY([NV_MANV])
REFERENCES [dbo].[DM_NHANVIEN] ([NV_MANV])
GO
ALTER TABLE [dbo].[HT_NVVAITRO] CHECK CONSTRAINT [FK_HT_NVVAITRO_DM_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HT_NVVAITRO_HT_DMVAITRO]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HT_NVVAITRO]  WITH CHECK ADD  CONSTRAINT [FK_HT_NVVAITRO_HT_DMVAITRO] FOREIGN KEY([DMVT_MAVT])
REFERENCES [dbo].[HT_DMVAITRO] ([DMVT_MAVT])
GO
ALTER TABLE [dbo].[HT_NVVAITRO] CHECK CONSTRAINT [FK_HT_NVVAITRO_HT_DMVAITRO]
GO
/****** Object:  ForeignKey [FK_HT_NHATKY_DM_NHANVIEN]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HT_NHATKY]  WITH CHECK ADD  CONSTRAINT [FK_HT_NHATKY_DM_NHANVIEN] FOREIGN KEY([NV_MANV])
REFERENCES [dbo].[DM_NHANVIEN] ([NV_MANV])
GO
ALTER TABLE [dbo].[HT_NHATKY] CHECK CONSTRAINT [FK_HT_NHATKY_DM_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HD_NHAPXUAT_DM_NHANVIEN]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HD_NHAPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HD_NHAPXUAT_DM_NHANVIEN] FOREIGN KEY([NV_MANV])
REFERENCES [dbo].[DM_NHANVIEN] ([NV_MANV])
GO
ALTER TABLE [dbo].[HD_NHAPXUAT] CHECK CONSTRAINT [FK_HD_NHAPXUAT_DM_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HD_NHAPXUAT_DMHH_HANGHOA]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HD_NHAPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HD_NHAPXUAT_DMHH_HANGHOA] FOREIGN KEY([HH_MAHANG])
REFERENCES [dbo].[DMHH_HANGHOA] ([HH_MAHANG])
GO
ALTER TABLE [dbo].[HD_NHAPXUAT] CHECK CONSTRAINT [FK_HD_NHAPXUAT_DMHH_HANGHOA]
GO
/****** Object:  ForeignKey [FK_HD_NHAPXUAT_HD_THANHTOAN]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[HD_NHAPXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HD_NHAPXUAT_HD_THANHTOAN] FOREIGN KEY([HDTT_MATT])
REFERENCES [dbo].[HD_THANHTOAN] ([HDTT_MATT])
GO
ALTER TABLE [dbo].[HD_NHAPXUAT] CHECK CONSTRAINT [FK_HD_NHAPXUAT_HD_THANHTOAN]
GO
/****** Object:  ForeignKey [FK_DMHH_MAVACH_DMHH_HANGHOA]    Script Date: 04/19/2016 12:06:06 ******/
ALTER TABLE [dbo].[DMHH_MAVACH]  WITH CHECK ADD  CONSTRAINT [FK_DMHH_MAVACH_DMHH_HANGHOA] FOREIGN KEY([HH_MAHANG])
REFERENCES [dbo].[DMHH_HANGHOA] ([HH_MAHANG])
GO
ALTER TABLE [dbo].[DMHH_MAVACH] CHECK CONSTRAINT [FK_DMHH_MAVACH_DMHH_HANGHOA]
GO
